.dash-nav{
    margin: 0;
    padding: 0%;
}
.dash-drawer{
    margin: 0;
    padding: 0%;
}
.tabs{
    display: flex;
}
.tabs1{
        background: #DF18FF;
        opacity: 20%;
}
.tab1{
    // background: #DF18FF;
    color: #5403619a;
    // opacity: 20%;
}