$font-stack: Avenir Next;
$primary-color: #213F7D;

.navbar{
    display: flex;
    width: 100%;
    // position: fixed;
    padding: 0%;
    justify-content: space-between;
    margin: 0%;
    box-shadow: 0px 0px 1px rgb(92, 92, 94);
    .nav-head{
        font: 100% $font-stack;
        color: $primary-color;
        display: flex;
        line-height: 55%;
        align-items: baseline;
        padding-left: 1%;
        justify-content: space-between;
        margin-top: -0%;
        .image-logo{
            width: 15%;  
        }
        
}

    .input{
        width: 33%;
        margin: 2%;
        input{
            width: 83%;
            outline: none;
        }
    }
    .persona{
        display: flex;
        width: 25%;
        
        justify-content: space-around;
        line-height: 3px;
        .image-profile{
                width: 38px;
                height: 38px;
                border-radius: 50%;
                margin-top: 2%;
            }
    }
    .icon{
        margin-top: 15px;
    }
    .icons{
        margin-top: 20px;
    }
}